/* Base Styles */

* {
	box-sizing: border-box;
}

h1 {
	font-family: serif;
	color: white;
}

body {
	background-image: url("https://images.all-free-download.com/images/graphicthumb/red_blurred_lights_200263.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

p {
	padding: 10px;
	margin: 0;
	font-family: sans-serif;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 19px;
	padding: 10px;
}

section {
	border:	2px solid black;
	width: 100%;
	height: auto; 
	color: white;
	font-family: sans-serif;
	position: relative;
	overflow: auto;
}

#chicken {
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .6;
}

#beef {
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .6;
}

#sushi {
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .6;
}

.info{
	padding: 35px 10px 10px;
	margin: 0;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #100303;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}